<% content_for :head do %>
  <%= stylesheet_link_tag "plot_bubble" -%>
<% end %>
<h3><%= params[:type] %>:<%= params[:id] %></h3>


  <div id="fig" style="width:500px;height:500px">&nbsp;</div>


  <script type="text/javascript+protovis">

   var mapDiv = document.getElementById("fig");
    var data;
    var proId = "<%= params[:id] %>";
    var visType = "<%= params[:type] %>";
    new Ajax.Request(config.REST+'project/'+proId+'.json', {
    	method:'get',
  	requestHeaders: {Accept: 'application/json'},
  	onSuccess: function(transport){
    	    data = transport.responseText.evalJSON();
	    var visTxt = data.props.collect(function(d) {if (d.type == 'VectorBase miscellaneous CV:vis') {return d.value;}});  
	    /* console.log(visTxt);*/
	    vis = String.interpret(visTxt).evalJSON();
	    
    	    var hashJSP = getDataHash_jsp(data,vis.e,vis.x,vis.y,vis.z);
	    callPlot(visType || vis.type, hashJSP, mapDiv, vis.args);
	}
	});

	


    </script>




