<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>phenovis</title>
    <%= javascript_include_tag :defaults -%>
   <%= javascript_include_tag "form_helpers" -%>
    <%= javascript_include_tag "protovis-d3.2" -%>
    <%= javascript_include_tag "phenovis-0.01" -%>
    <!script src="http://maps.google.com/maps?file=api&amp;v=3&amp;sensor=true&amp;key=ABQIAAAARo0G2k5Tnxh-bXYOd49ZCRTHjiDa51k9hfICzoc519n3McJuVxRtZrKZEDl9TpDmGfEBixaDMNrqmA"	     type="text/javascript"><!/script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  
    <link  href="http://fonts.googleapis.com/css?family=Geo:regular" rel="stylesheet" type="text/css" > 
    <link  href="http://fonts.googleapis.com/css?family=Neuton:regular,italic" rel="stylesheet" type="text/css" > 
		
    <%= stylesheet_link_tag "standard" -%>
    <%= yield :head -%>
  </head>
  <body>

    <%= yield  -%> <!-- the html code goes into yield >-->
  </body>
</html>
